@import "tailwindcss";

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* shadcn design tokens */
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  /* custom design tokens */
  --color-destructive2: var(--destructive2);
  --color-day-selected: var(--day-selected);
  --color-active: var(--active);
  --color-active2: var(--active2);
  --color-accent2: var(--accent2);
  --color-accent3: var(--accent3);
  --color-accent3: var(--accent3);
  --color-accent4: var(--accent4);
  --color-accent5: var(--accent5);
  --color-accent6: var(--accent6);
  --color-accent7: var(--accent7);
  --color-accent8: var(--accent8);
  --color-accent9: var(--accent9);
  --color-accent10: var(--accent10);

  --color-ring: var(--ring);
  --color-ring-hover: var(--ring-hover);

  --color-calendar-positive: var(--calendar-positive);
  --color-calendar-negative: var(--calendar-negative);
  --color-calendar-positive2: var(--calendar-positive2);
  --color-calendar-negative2: var(--calendar-negative2);

  --color-border-subtle: var(--border-subtle);

  --color-grade-aa: var(--grade-aa);
  --color-grade-a: var(--grade-a);
  --color-grade-bb: var(--grade-bb);
  --color-grade-b: var(--grade-b);
  --color-grade-cc: var(--grade-cc);
  --color-grade-c: var(--grade-c);
  --color-grade-d: var(--grade-d);
  --color-grade-f: var(--grade-f);

  --color-marks-outstanding: var(--marks-outstanding);
  --color-marks-good: var(--marks-good);
  --color-marks-average: var(--marks-average);
  --color-marks-poor: var(--marks-poor);
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

:root {
  --background: hsl(214 12.3% 11.2%);
  --foreground: hsl(0 0% 100%);
  --card: hsl(214 12.3% 11.2%);
  --card-foreground: hsl(0 0% 100%);
  --popover: hsl(214 12.3% 11.2%);
  --popover-foreground: hsl(0 0% 100%);
  --primary: hsl(215 97.8% 81.8%);
  --primary-foreground: hsl(214 12.3% 11.2%);
  --secondary: hsl(214 16.3% 16.9%);
  --secondary-foreground: hsl(0 0% 100%);
  --muted: hsl(215 27.9% 16.9%);
  --muted-foreground: hsl(217.9 10.6% 64.9%);
  --accent: hsl(213.1 93.9% 67.8%);
  --accent-foreground: hsl(0 0% 100%);
  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(216.9 19.1% 26.7%);
  --input: hsl(214 12.3% 11.2%);
  --ring: hsl(215 97.8% 81.8%);
  --chart-1: hsl(142 69.2% 58%);
  --chart-2: hsl(213.1 93.9% 67.8%);
  --chart-3: hsl(217 19.1% 26.7%);
  --chart-4: hsl(141 76.2% 36.3%);
  --chart-5: hsl(0 72.2% 50.6%);

  --destructive2: hsl(359 100% 69.6%);
  --day-selected: hsl(0 8.7% 20.2%);
  --active: hsl(215 27.9% 16.9%);
  --active2: hsla(216 31% 17.1% / 0.5);

  --accent2: hsl(216.9 19.1% 26.7%);
  --accent3: hsl(220, 33%, 38%);
  --accent4: hsl(258 13.6% 84.1%);
  --accent5: hsl(141.9 69.2% 58%);
  --accent6: hsl(220 8.9% 46.1%);
  --accent7: hsl(216 15.4% 34.3%);
  --accent8: hsl(217.9 10.6% 64.9%);
  --accent9: hsl(265 13% 91%);
  --accent10: hsla(213 93.9% 67.8% / 0.8);

  --ring: var(--color-blue-400);
  --ring-hover: var(--color-blue-300);

  --calendar-positive: hsla(142 100% 32.5% / 0.4);
  --calendar-negative: hsla(357 100% 45.3% / 0.4);
  --calendar-positive2: hsla(141 76.2% 36.3% / 0.4);
  --calendar-negative2: hsla(0 72.2% 50.6% / 0.4);
  --border-subtle: hsla(0 0% 100% / 0.1);

  --radius: 0.5rem;
  --grade-aa: hsl(150 95.6% 44.7%);
  --grade-a: hsl(144 100% 39.4%);
  --grade-bb: hsl(47 100% 49.6%);
  --grade-b: hsl(44 100% 47.1%);
  --grade-cc: hsl(39 100% 40.8%);
  --grade-c: hsl(32 100% 50.8%);
  --grade-d: hsl(25 100% 50%);
  --grade-f: hsl(0 84.2% 60.2%);

  --marks-outstanding: hsl(144 100% 39.4%);
  --marks-good: hsl(44 100% 47.1%);
  --marks-average: hsl(25 100% 50%);
  --marks-poor: hsl(0 84.2% 60.2%);
}
.dark {
  --background: hsl(214 12.3% 11.2%);
  --foreground: hsl(0 0% 100%);
  --card: hsl(214 12.3% 11.2%);
  --card-foreground: hsl(0 0% 100%);
  --popover: hsl(214 12.3% 11.2%);
  --popover-foreground: hsl(0 0% 100%);
  --primary: hsl(215 97.8% 81.8%);
  --primary-foreground: hsl(214 12.3% 11.2%);
  --secondary: hsl(214 16.3% 16.9%);
  --secondary-foreground: hsl(0 0% 100%);
  --muted: hsl(215 27.9% 16.9%);
  --muted-foreground: hsl(217.9 10.6% 64.9%);
  --accent: hsl(213.1 93.9% 67.8%);
  --accent-foreground: hsl(0 0% 100%);
  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(216.9 19.1% 26.7%);
  --input: hsl(214 12.3% 11.2%);
  --ring: hsl(215 97.8% 81.8%);
  --chart-1: hsl(142 69.2% 58%);
  --chart-2: hsl(213.1 93.9% 67.8%);
  --chart-3: hsl(217 19.1% 26.7%);
  --chart-4: hsl(141 76.2% 36.3%);
  --chart-5: hsl(0 72.2% 50.6%);

  --destructive2: hsl(359 100% 69.6%);
  --day-selected: hsl(0, 8.7%, 20.2%);
  --active: hsl(215 27.9% 16.9%);
  --active2: hsla(216 31% 17.1% / 0.5);

  --accent2: hsl(216.9 19.1% 26.7%);
  --accent3: hsl(220 8.9% 46.1%);
  --accent4: hsl(217 19.1% 26.7%);
  --accent5: hsl(141.9 69.2% 58%);
  --accent6: hsl(217.9 10.6% 64.9%);
  --accent7: hsl(220 8.9% 46.1%);
  --accent8: hsl(217.9 10.6% 64.9%);
  --accent9: hsl(265 13% 91%);
  --accent10: hsl(213 93.9% 67.8%);

  --ring: var(--color-blue-400);
  --ring-hover: var(--color-blue-300);

  --calendar-positive: hsla(142 100% 32.5% / 0.4);
  --calendar-negative: hsla(357 100% 45.3% / 0.4);
  --calendar-positive2: hsla(141 76.2% 36.3% / 0.4);
  --calendar-negative2: hsla(0 72.2% 50.6% / 0.4);

  --border-subtle: hsla(0 0% 100% / 0.1);
  --radius: 0.5rem;
  --grade-aa: hsl(150 95.6% 44.7%);
  --grade-a: hsl(144 100% 39.4%);
  --grade-bb: hsl(47 100% 49.6%);
  --grade-b: hsl(44 100% 47.1%);
  --grade-cc: hsl(39 100% 40.8%);
  --grade-c: hsl(32 100% 50.8%);
  --grade-d: hsl(25 100% 50%);
  --grade-f: hsl(0 84.2% 60.2%);

  --marks-outstanding: hsl(144 100% 39.4%);
  --marks-good: hsl(44 100% 47.1%);
  --marks-average: hsl(25 100% 50%);
  --marks-poor: hsl(0 84.2% 60.2%);
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  * {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  ::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}

/* Add smooth scrolling behavior */
.snap-y {
  scroll-behavior: smooth;
}

.snap-mandatory {
  scroll-snap-type: y mandatory;
}

.snap-start {
  scroll-snap-align: start;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.overflow-y-auto::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.overflow-y-auto {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
